body, div{
    font-family: 'Lato', sans-serif;
    border: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    background-color: gray;
    color: #ffffff;
    margin: 0;
    padding: 2rem 0 2rem 0;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

#apple{
    width: 100px;
    height: 120px;
}

h2{
    font-size: 10rem;
    margin: 1rem;
    font-weight: 100;
}

h3{
    font-size: 4rem;
    margin: 2rem 0 0 1rem;
}

p{
    font-size: 4rem;
    margin: 1rem;
}

.black, .white{
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    max-height: 50vh;
}

.white{
    background-color: #ffffff;
    color: #000000;
}

.black img, .white img{
    width: 90%;
    height: 70%;
    margin-bottom: 2rem;
}

.product{
    display: flex;
    flex-direction: row;
    align-items: center;
}