body, div{
    font-family: 'Lato', sans-serif;
    border: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    background-color: gray;
    color: #ffffff;
    margin: 0;
    padding: 1rem 0 1rem 0;
    display: flex;
    width: 100vw;
    height: fit-content;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav img{
    width: 50px;
    height: 60px;
    margin: 0 2rem 0 2rem;
}

h2{
    font-size: 8rem;
    margin: 7rem 1rem 0 1rem;
    font-weight: 100;
}

h3{
    font-size: 4rem;
    margin: 2rem 0 0 1rem;
}

p{
    font-size: 4rem;
    margin: 0 1rem 7rem 1rem;
}

.black, .white{
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    max-height: 50vh;
}

.white{
    background-color: #ffffff;
    color: #000000;
}

.black img, .white img{
    width: 90%;
    height: 70%;
    margin-bottom: 2rem;
}

.product{
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer{
    background-color: gray;
    color: #ffffff;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    font-size: 3rem;
}

a{
    margin-left: 2rem;
}